  * {
  padding: 0;
  margin: 0;
  min-width: 400px;
  font-family: 'Noto Serif';
}

body {
  background-color: hsla(57, 70%, 95%, 0.9);
}

   /* Banner and Title */

#banner {
  background-image: url("https://preview.redd.it/all-game-boy-ds-and-3ds-models-v0-45a1nrc55qzc1.jpg?width=1080&crop=smart&auto=webp&s=c749bddf503d1ac4575e0cde5a99e4348ad99db5");
  background-size: cover;
  height: 400px;
  min-width: 400px;
  max-width: 720px;
  margin: 10px auto;
  border: 4px solid black;
  border-radius: 10px;
}

@font-face {
  font-family: "Atkinson Hyperlegible Mono";
  src: url("AtkinsonHyperlegibleMono-SemiBold.ttf") format("truetype");
}

#banner .title h2 {
  text-align: center;
  font-size: 30px;
  font-family: "Atkinson Hyperlegible Mono";
  line-height: 35px;
  color: white;
  background-color: hsla(0, 0%, 48%, 0.8);
  border: 5px solid hsl(0, 100%, 57%);
  border-radius: 5px;
  position: relative;
  padding: 5px;
  top: 10px;
  margin: 0 40px;
}
   /* Introduction */

.introduction {
  text-align: center;
  margin: 10px auto;
  max-width: 850px;
}
   /* Factors and Information */

div.screen-size {
  border: 7px solid hsl(206, 100%, 60.8%);
  border-radius: 10px;
  margin: 10px;
}

div.processor {
  border: 7px solid hsl(0, 100%, 60.8%);
  border-radius: 10px;
  margin: 10px;
}

div.design {
  border: 7px solid hsl(119, 86.7%, 28.7%);
  border-radius: 10px;
  margin: 10px;
}

div.screen-size,
div.processor,
div.design {
  text-align: center;
  margin: 10px auto;
  max-width: 800px;
}

    /* Image Styling */

div.images {
  display: flex;
  justify-content: center;
}

img {
  height: 350px;
}

img:hover {
  border: blue;
}

   /* All elements with bullets */

ul {
  margin: 20px 30px;
}

li {
  font-weight: 500;
}

   /* Styling top, bottom, and middle elements */

.introduction,
.final-conclusion {
  font-weight: bold;
}

.factors h3,
.conclusion,
.final-thoughts {
  text-align: center;
}
   /* Footer */

.footer {
  background-color: skyblue;
  padding: 10px 0;
}

.footer ul {
  text-align: center;
  max-width: 750px;
  margin: 10px auto;
}

.conclusion {
  border: 5px solid hsl(296, 86.7%, 36.6%);
  border-radius: 3px;
  margin: 5px auto;
  width: 700px;
}

.final-conclusion {
  margin: 10px auto 50px;
  text-align: center;
  max-width: 910px;
}
